.c-heading {
    color: $gray-very-dark;
    line-height: $line-height-sm;
    letter-spacing: $letter-spacing-condenced;
    margin-bottom: $grid-base / 2;

    &--level1 {
        font-size: $font-size-2;
        
        @include large-up {
            font-size: $font-size-1;
        }
    }

    &--level2 {
        font-size: $font-size-3;
        
        @include large-up {
            font-size: $font-size-2;
        }
    }

    &--level3 {
        font-size: $font-size-5;
        letter-spacing: normal;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--white {
        color: $white;
    }
}