.c-nav {
    margin-bottom: $grid-base * 2;
    @include large-up {
        margin-bottom: 0;
    }

    &__item {
        color: $gray-very-dark;
        display: block;
        font-size: $font-size-6;
        font-weight: 700;
        padding-bottom: $grid-base * 2;
        padding-top: $grid-base * 2;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        &:hover {
            color: $gray-very-dark;
        }

        @include large-up {
            display: inline-block;
            margin-right: $grid-base * 4;
            width: auto;
        }
    }
}