.c-product-card {
	margin-bottom: $grid-base * 5;
	
	&__top {
		background-color: $white;
		height: $grid-base * 31;
		margin-bottom: $grid-base * 2;
		position: relative;
		text-align: center;
		width: 100%;
	}

	&__picture {
		opacity: .9;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		
		&:hover {
		filter: contrast(108%);
		opacity: 1.2;
		}
	}

	&__cart {
		display: flex;
		align-items: center;
		background-color: $gray-light;
		bottom: $grid-base * 1.5;
		height: $grid-base * 4;
		justify-content: space-between;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 220px;
	}

	&__cart-icon {
		text-align: center;
		flex: 0 0 20%;

		.product1-star {
			font-size: $font-size-4;
		}
	}

	&__cart-text {
		border-left: 1px solid $white;
		border-right: 1px solid $white;
		color: $gray-dark;
		flex: 0 0 60%;
		font-size: $font-size-6;
		font-weight: bold;
		line-height: $grid-base * 4;
		text-transform: uppercase;
	}

	&__meta {
		display: flex;
		font-size: $font-size-6;
		justify-content: space-between;
	}

	&__color {
		border-radius: 50%;
		display: inline-block;
		height: 12px;
		width: 12px;

		&--one {
			background-color: #DABDFE;
		}
		&--two {
			background-color: #FEBDBD;
		}
		&--three {
			background-color: #FECFBD;
		}
		&--four {
			background-color: #BDE6FE;
		}
		&--five {
			background-color: #FEDABD;
		}
		&--six {
			background-color: #E6BDFE;
		}
		&--seven {
			background-color: #458A5C;
		}
		&--eight {
			background-color: #8A6245;
		}
		&--nine {
			background-color: #3F5587;
		}
	}

	&__price {
		display: block;
		font-size: $font-size-4;
	}

	&__big-picture {
		height: 360px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 180px;
		
		&:hover {
		filter: contrast(108%);
		opacity: 1.2;
		}
	}

	&__big-picture4 {
		height: 240px;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		width: 240px;
		
		&:hover {
		filter: contrast(108%);
		opacity: 1.2;
		}
	}

	&__big-picture-text {
		padding-left: 65px;
	}

	&__big-top {
		background-color: $white;
		height: $grid-base * 50;
		margin-bottom: $grid-base * 2;
		position: relative;
		text-align: center;
		width: 100%;
	}

	.hidden {
		display: none;
	}
}

.hovered {
	color: $accent;
}

.selected {
	color: $accent;
}

