*, *::before, *::after {
  box-sizing: border-box; }

body {
  background-color: #FFFFFF;
  color: #797979;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1rem; }

img {
  max-width: 100%; }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  line-height: 1.2;
  margin: 0; }

a {
  color: #444444;
  text-decoration: none; }
  a:hover {
    color: #444444;
    text-decoration: underline; }

.o-col {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 800px) {
    .o-col--md25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 800px) {
    .o-col--md33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 800px) {
    .o-col--md50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg25 {
      flex: 0 0 25%;
      max-width: 25%; } }
  @media (min-width: 1200px) {
    .o-col--lg33 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%; } }
  @media (min-width: 1200px) {
    .o-col--lg50 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media (min-width: 1200px) {
    .o-col--lg75 {
      flex: 0 0 75%;
      max-width: 75%; } }

.o-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }
  @media (min-width: 800px) {
    .o-container {
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .o-container {
      max-width: 1140px; } }

.o-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  @media (min-width: 800px) {
    .o-row {
      flex-direction: row; } }
  .o-row--center-y {
    align-items: center; }

.c-btn {
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  transition: all .25s ease-in-out; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn__icon {
    margin-left: .5rem; }
  .c-btn--accent {
    background-color: #F1C40F;
    color: #FFFFFF; }
    .c-btn--accent:hover {
      background-color: #aa8a0a;
      color: #FFFFFF; }
  .c-btn--light {
    background-color: #FFFFFF;
    color: #444444; }
    .c-btn--light:hover {
      background-color: #d9d9d9;
      color: #444444; }
  .c-btn--outline {
    background-color: transparent;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    line-height: 1;
    font-size: 1.5rem;
    padding: .55rem 1rem; }
    .c-btn--outline:hover {
      color: #d9d9d9;
      border: 3px solid #d9d9d9; }
  .c-btn--small {
    border-radius: 3px;
    font-size: 0.5625rem;
    padding: .55rem .75rem; }

.c-heading {
  color: #444444;
  line-height: 1.2;
  letter-spacing: -0.05rem;
  margin-bottom: 5px; }
  .c-heading--level1 {
    font-size: 2.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level1 {
        font-size: 3.75rem; } }
  .c-heading--level2 {
    font-size: 1.5rem; }
    @media (min-width: 1200px) {
      .c-heading--level2 {
        font-size: 2.5rem; } }
  .c-heading--level3 {
    font-size: 1rem; }
  .c-heading--upper {
    text-transform: uppercase; }
  .c-heading--white {
    color: #FFFFFF; }

.c-icon-box {
  text-align: center; }
  .c-icon-box__image {
    margin-bottom: 15px; }
  .c-icon-box__name {
    color: #F1C40F;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase; }
  .c-icon-box__info {
    color: #797979;
    display: block;
    font-size: 0.75rem; }

.c-label {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase; }

.c-list__item {
  margin-bottom: 12px; }

.c-list--unstyled {
  list-style-type: none; }

.c-nav {
  margin-bottom: 20px; }
  @media (min-width: 1200px) {
    .c-nav {
      margin-bottom: 0; } }
  .c-nav__item {
    color: #444444;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
    width: 100%; }
    .c-nav__item:hover {
      color: #444444; }
    @media (min-width: 1200px) {
      .c-nav__item {
        display: inline-block;
        margin-right: 40px;
        width: auto; } }

.c-input {
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.2;
  padding: 1rem 1.25rem;
  outline: none; }
  .c-input::placeholder {
    color: #D1D1D1; }
  .c-input::-moz-placeholder {
    color: #D1D1D1;
    opacity: 1; }
  .c-input:-ms-placeholder {
    color: #D1D1D1; }
  .c-input--newsletter {
    border-radius: 5px 0 0 5px;
    padding: .7rem 1.5rem; }

.c-pagination__item {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px; }

.c-product-selector {
  display: inline-block; }
  .c-product-selector__item {
    color: #444444;
    display: block;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .c-product-selector__item:hover {
      color: #F1C40F; }
    @media (min-width: 1200px) {
      .c-product-selector__item {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 50px; } }

.c-product-card {
  margin-bottom: 40px; }
  .c-product-card__top {
    background-color: #FFFFFF;
    height: 310px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%; }
  .c-product-card__picture {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .c-product-card__cart {
    display: flex;
    align-items: center;
    background-color: #F2F3F5;
    bottom: 15px;
    height: 40px;
    justify-content: space-between;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 220px; }
  .c-product-card__cart-icon {
    text-align: center;
    flex: 0 0 20%; }
  .c-product-card__cart-text {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #797979;
    flex: 0 0 60%;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 40px;
    text-transform: uppercase; }
  .c-product-card__meta {
    display: flex;
    font-size: 0.875rem;
    justify-content: space-between; }
  .c-product-card__color {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    width: 12px; }
    .c-product-card__color--one {
      background-color: #DABDFE; }
    .c-product-card__color--two {
      background-color: #FEBDBD; }
    .c-product-card__color--three {
      background-color: #FECFBD; }
    .c-product-card__color--four {
      background-color: #BDE6FE; }
    .c-product-card__color--five {
      background-color: #FEDABD; }
    .c-product-card__color--six {
      background-color: #E6BDFE; }
    .c-product-card__color--seven {
      background-color: #458A5C; }
    .c-product-card__color--eight {
      background-color: #8A6245; }
    .c-product-card__color--nine {
      background-color: #3F5587; }
  .c-product-card__price {
    display: block;
    font-size: 1.125rem;
    font-weight: bold; }

.t-clinic-locator {
  background: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
  padding-bottom: 45px;
  padding-top: 40px; }
  @media (min-width: 1200px) {
    .t-clinic-locator {
      background: url("../images/map.png") 10% 80% no-repeat, linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
      padding-top: 200px; } }
  .t-clinic-locator__right {
    display: flex;
    justify-content: flex-end; }
  .t-clinic-locator__content {
    width: 100%; }
    @media (min-width: 1200px) {
      .t-clinic-locator__content {
        max-width: 500px;
        text-align: right; } }
  .t-clinic-locator__heading {
    margin-bottom: 15px; }
  .t-clinic-locator__subheading {
    color: #FFFFFF;
    margin-bottom: 40px; }
  .t-clinic-locator__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 25px; }
  .t-clinic-locator__btn {
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 0; }

.t-our-advantages {
  padding-top: 60px; }
  .t-our-advantages__item {
    margin-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-our-advantages__item {
        margin-bottom: 120px; } }

.t-our-company {
  padding-bottom: 60px;
  padding-top: 90px; }
  .t-our-company__left {
    margin-bottom: 40px; }
    @media (min-width: 800px) {
      .t-our-company__left {
        margin-bottom: 0; } }
  .t-our-company__right {
    text-align: center; }
    @media (min-width: 800px) {
      .t-our-company__right {
        padding-right: 30px;
        text-align: right; } }
  .t-our-company__buttons {
    display: flex;
    flex-wrap: wrap; }
  .t-our-company__btn {
    margin-right: 30px;
    margin-bottom: 25px; }

.t-post-list {
  background-color: #F2F3F5;
  padding-top: 40px;
  position: relative; }
  @media (min-width: 1200px) {
    .t-post-list {
      height: 380px; } }
  .t-post-list__content {
    padding-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-post-list__content {
        background-color: #F2F3F5;
        clip-path: ellipse(68% 450px at 50% 0);
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        z-index: 1000; } }
  .t-post-list__item {
    margin-bottom: 40px; }
    @media (min-width: 1200px) {
      .t-post-list__item {
        margin-bottom: 20px; } }
  .t-post-list__image {
    margin-bottom: 25px;
    max-width: 349px;
    position: relative; }
  .t-post-list__badge {
    background: linear-gradient(45deg, #3E5CC5 0%, #5B8AF8 100%);
    border-radius: 5px 0 0 5px;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
    position: absolute;
    top: 70%;
    text-transform: uppercase;
    right: 0; }

.t-site-footer {
  padding-left: 15px;
  padding-right: 15px; }
  .t-site-footer .o-row {
    padding-bottom: 40px;
    padding-top: 50px; }
  .t-site-footer__item {
    flex-basis: auto;
    padding-left: 15px; }
    @media (min-width: 800px) {
      .t-site-footer__item:first-child {
        width: 28%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(2) {
        width: 28%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(3) {
        width: 25%; } }
    @media (min-width: 800px) {
      .t-site-footer__item:nth-child(4) {
        width: 15%; } }
  .t-site-footer__heading {
    align-items: center;
    display: flex;
    height: 60px; }
  .t-site-footer__text-heading {
    color: #797979; }
  .t-site-footer__address {
    padding-top: 20px; }
  .t-site-footer__label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px; }
  .t-site-footer__contact-item {
    line-height: 1.8;
    margin-bottom: 20px; }
  .t-site-footer__copy {
    padding-bottom: 25px;
    padding-top: 25px; }
  .t-site-footer__copy-text {
    font-size: 0.75rem; }

.t-site-header {
  background: url("../images/header-tlo.jpg") 0 0 no-repeat; }
  @media (min-width: 1200px) {
    .t-site-header {
      clip-path: ellipse(68% 450px at 50% 28%);
      padding-bottom: 40px; } }
  .t-site-header__top {
    padding-bottom: 25px;
    padding-top: 25px; }
  .t-site-header__menu {
    margin-top: 20px; }
    @media (min-width: 1200px) {
      .t-site-header__menu {
        text-align: right;
        margin-top: 0; } }
  .t-site-header__divider {
    background-color: #FFFFFF;
    height: 1px;
    opacity: .75; }
  .t-site-header__hero {
    padding-bottom: 50px;
    padding-top: 50px;
    margin: 0 auto;
    text-align: center; }
    @media (min-width: 1200px) {
      .t-site-header__hero {
        padding-bottom: 120px;
        padding-top: 110px;
        max-width: 800px; } }
  .t-site-header__intro-text {
    color: #FFFFFF;
    font-size: 1.125rem;
    margin-bottom: 20px;
    margin-top: 30px; }
    @media (min-width: 1200px) {
      .t-site-header__intro-text {
        font-size: 1.5rem;
        line-height: 1.66;
        margin-bottom: 60px; } }
  .t-site-header__btn-divider {
    color: #FFFFFF;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 20px; }
    @media (min-width: 800px) {
      .t-site-header__btn-divider {
        display: inline-block; } }

.u-bg-white {
  background-color: #FFFFFF; }

.u-bg-light {
  background-color: #F2F3F5; }

.u-white {
  color: #FFFFFF; }

.u-accent {
  color: #F1C40F; }

.u-mb-1 {
  margin-bottom: 10px; }

.u-mb-2 {
  margin-bottom: 20px; }

.u-mb-3 {
  margin-bottom: 30px; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

@media (min-width: 1200px) {
  .u-text-lg-right {
    text-align: right !important; } }
